<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>io.clickonetwo.easy-backup-and-eject</string>
		<key>StartOnMount</key>
		<true/>
		<key>Program</key>
		<string>/Users/USERNAME/Library/Application Support/ClickOneTwo/easy-backup-and-eject.sh</string>
		<key>StandardOutPath</key>
		<string>/Users/USERNAME/Library/Logs/io.clickonetwo.easy-backup-and-eject.log</string>
		<key>StandardErrorPath</key>
		<string>/Users/USERNAME/Library/Logs/io.clickonetwo.easy-backup-and-eject.log</string>
	</dict>
</plist>
